In [126]:
import pandas as pd
import numpy as np

#df = pd.read_csv("Day_4_sub.txt" ,header=None)
df = pd.read_csv("Day_5.txt",header=None )
df2 = pd.read_csv("Day_5_order.txt",header=None,sep="|" )


#df = pd.read_csv("Day_5_example.txt",header=None )
#df2 = pd.read_csv("Day_5_order_example.txt",header=None,sep="|" )

In [127]:
all_pages=[95, 54, 53, 96, 91, 35, 28, 78, 73, 89, 32, 99, 66, 14, 69, 88, 58, 74, 79, 84, 11, 62, 17, 75, 94, 26, 44, 93, 55, 82, 47, 18, 16, 65, 34, 76, 57, 41, 36, 33, 43, 56, 64, 97, 63, 71, 92, 21, 29]

In [128]:
print(df.loc[200:])

     0   1   2   3   4     5     6   7   8   9   ...  28  29  30  31  32  33  \
200  54  29  79  91  99  92.0  93.0 NaN NaN NaN  ... NaN NaN NaN NaN NaN NaN

     34  35  36  37
200 NaN NaN NaN NaN

[1 rows x 38 columns]

In [129]:
print(df2.loc[0,1])

95

In [130]:

def order(df):
    order_list=[]    
    
    for n in all_pages:
        sub_list=[]
        dom_list=[]
        for x in range(0,len(df)):          
            dom=df2.loc[x,0]
            sub=df2.loc[x,1]
            if n==dom:                                                
                sub_list.append(sub)                            #these numbers are sub to n
            if n==sub:
                dom_list.append(dom)                           # these numbers are dom to n
        order_list.append([dom_list,sub_list])
    return order_list
        
        
    
    
stars_n_stripes=order(df2)
#print(stars_n_stripes)

In [131]:

#all_pages.index(54)

In [132]:
def clean(df):
    stars_n_stripes=order(df2)
    all_array=[]
    for y in range(1,len(df)):
        array=[]
        for x in range(0,24):                 #24
            n=df.loc[y,x]
            if n>9 and n<100:
                array.append(n)
        all_array.append(array)
        
    return(all_array)

In [133]:
data=clean(df)
print(data[0])

[34, 74, 26, 89, 64, 44.0, 55.0, 65.0, 53.0, 16.0, 18.0, 95.0, 73.0, 82.0, 43.0]

In [134]:
def sort(line):
    memory=0
    for x in range(1,len(line)-1):
        n=line[x]
        index=all_pages.index(n)
        dom_liste=stars_n_stripes[index][0]
        sub_liste=stars_n_stripes[index][1]
        
        for d in range(0,x):
            
            dom=line[d]
            if dom in sub_liste:
                memory+=1
            
        for s in range(x+1,len(line)):
            
            sub=line[s]
            if sub in dom_liste:
                memory+=1
                
    if memory>0:
        return False
    else:
        return True

In [135]:
good=[]
for x in range(0,200):
    a=sort(data[x])
    if a==True:
        good.append(x)

In [136]:
print(good)

[0, 2, 8, 9, 10, 12, 14, 15, 17, 18, 24, 25, 27, 28, 31, 32, 33, 37, 42, 43, 44, 45, 53, 55, 57, 58, 59, 60, 61, 62, 70, 73, 74, 76, 79, 81, 82, 84, 85, 88, 91, 95, 96, 97, 99, 100, 104, 106, 107, 109, 116, 120, 123, 124, 125, 128, 130, 131, 143, 145, 146, 147, 149, 150, 154, 160, 161, 163, 164, 165, 167, 168, 169, 171, 172, 174, 175, 176, 180, 181, 182, 183, 184, 187, 190, 191, 193, 194, 197, 198]

In [141]:
mem=[]
for x in good:
    line=data[x]
    mitte=int((len(line)/2 +0.5))-1
    mem.append(line[mitte])
    
print(sum(mem))

4774.0